
:root{
    --primary: #888081;
    --secondary: ;
    --color-text: ;
    --color-text-primary:#FFF ;
    --background-color: #03071e;
    --border-bottom-color:#303030;
    --color-card:#ebe8e8;
    --color-card-text:#333;
}




*,body{
    margin:0;
    padding:0;
}
body {
    display:grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        ;
    grid-template-rows: auto 1fr auto;/*Ajusta las alturas segun sea necesario*/
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% del alto de la ventana */
}
header{
    background-color: var(--primary);
    color: var(--color-text-primary);
    padding: 10px;
    text-align: center;
}
nav ul{
    list-style-type:none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin:20px;
}
nav ul li a{
    text-decoration:none;
    color: var(--color-text-primary);
    font-weight: bold;
}
section{
    text-align:center;
    background-color:var(--background-color);
    color: var(--color-text-primary);
    text-align: center;
    padding: 20px;
}
.title-container {
    display:block ; /* Hace que el contenedor se ajuste al ancho del contenido */
    border-bottom:3px solid var(--border-bottom-color) ; /* Ajusta el grosor y el color del borde según tus necesidades */
    margin-bottom: 10px;
    width: 70%;
    margin-left:15%

}

.category{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
   
    /* Nuevas Propiedades para Centrar y Limitar a 3 Columnas */
    justify-content: center; /* Para centrar horizontalmente */
     max-width: 70%;/* Ajusta según tu diseño para limitar a 3 columnas */
    margin: 0 auto; /* Para centrar en el eje horizontal */
}

.item{
    background-color: var(--color-card);
    border: 1px solid var(--border-bottom-color);
    color:var(--color-card-text); 
    padding: 10px;
    text-align: center;
}
.item img{
    max-width: 100%;
    height:auto;
}
footer {
    background-color: #333;
    color: var(--color-text-primary);
    text-align: center;
    padding: 10px;

    bottom: 0;
  
  }
